body{
	margin: 0;
	padding: 0;
}
body{
		background: #74ebd5;  /* fallback for old browsers */
		background: -webkit-linear-gradient(to right, #ACB6E5, #74ebd5);  /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to right, #ACB6E5, #74ebd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		font-family: 'Playfair Display', serif;
}
#one{
	color: white;
	text-align: center;
	font-size: 1.5em;
	width: 100%;
	padding: 2%;
}
#two{
	padding-bottom: 2%;
	text-align: center;
	font-size: 1.5em;
}
#three{
	margin: 0 20%;
    
}
input{
	width: 80%;

}
button{
	width: 18%;
}
#ans{
	width: 50%;
	display: inline-block;
	margin: 0 25%;
	
}
#img{
	margin: 4% 25%;
	width: 50%;
	height: 30%;
}
#ig{
	text-align: center;
	font-size: 24px;
}
#link{
	text-align: center;
	font-size: 24px;

}
#
@media screen and (max-width:680px){
	#html{
		width:100%;
	}
}