html{
	margin: 0%;
	padding: 0; 
	height: 100%;
	width: 100%;
}
img{
	height:300%; 
	width:60%;
	margin-bottom: 20%;
}
body{
	background: #74ebd5;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #ACB6E5, #74ebd5);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #ACB6E5, #74ebd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	height: 90%;
	width: 100%;
	color: #545252;
	font-family: 'Playfair Display', serif;
}
p{
	margin-top: 1.57%;
	text-align: left;
	height: 8%;
	margin-left: 42%;
}
h1{
	text-align: center;
}
#first
{
margin-top: 2.57%;	
}
a{
	margin-left: 42%;	
}
#name{

		margin-bottom: 5.57%;
		text-transform: uppercase;
}
@media screen and (max-width:680px){
	#html{
		width:100%;
	}
}